@media (max-width: 670px){

  .logo{
    float: none;
  }
  .logotext{
    top: 20px;
    width: 100%;
  }
  .box{
    margin: 30px 0;
    width: 100%;
    text-align: center;

  }
  .top-right{
    display: none;
  }
  .aiyaimage{
    width: 332px;
    height: 135px;
  }
  .top-left{
text-align: center;
float: none;

  }
.top-left{
  position: relative;
  top: 20px;
 }

 .top-left a{
   width: 100%;
   font-size: 15px;
 }
 .aiyaimage{
   width: 80%;
   height: auto;
 }


.story p{
  font-size: 15px;
}
.urakatawap img{
  width: 100%;
}
.urakatawap p{
  font-size: 15px;
}
.onkyo h4{
  font-size: 9vw;
}
  
}
